<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connectify-Reset Password</title>
    <link rel="stylesheet" href="/css/forgot_password.css">
</head>
<body>
    <div class="fpContainer">
        <form action="" method="post" class="fp-form">
            <img src="/images/c-letter-logo.png" alt="connectify Logo" class="logo">
            <h2>Reset Password for <%=email%> </h2>
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="newPassword" placeholder="Enter your new password" required>
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirmNewPassword" placeholder="Confirm your new password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
