<div>
    <p>Hi <%=name%>,</p>
    <br>
    <h3>Your Password Reset Link is below , it will be valid for next 10 minutes only:- </h3>
    <p>If not requested by you then please ignore!</p>

    <p> <%= link %></p>

    <br><br>
    <p>Thanks!</p>
 </div>